*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.wrap{
  width: 100%;
  max-width: 1280px;;
  min-width: 800px;  
  margin: 0 auto;
  border:1px solid red;
}
form{
  width: 100%;
  display: flex;
}

.app-style{
  padding: 100px;
  display: flex;
  gap: 12px;
}

.component-style{
  /* width: 100px;
  height: 100px; */
  padding:20px;
  border: 1px solid green;
  border-radius: 10px;
}

input{
  display: block;
}

.app-done-style{
  padding: 100px;
  display: flex;
  gap: 12px;
}